/* Import Google Font Inter dan Raleway */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: MusticaPro-SemiBold;
    src: url(/fonts/MusticaPro-SemiBold.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

a{
    font-family: 'Raleway';
}

p{
    font-family: 'Raleway';
}

h1{
    font-size: 40px;
    font-family: 'MusticaPro-SemiBold', sans-serif;
}

h2{
    font-size: 36px;
    font-family: 'MusticaPro-SemiBold', sans-serif;
}

h3{
    font-size: 32px;
    font-family: 'MusticaPro-SemiBold', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #111;

}

/* Header Section */
.header {
    text-align: center;
    background-image: url('D:\Internship - IGB Media\Alivecine\assets\video.png'); /* Replace with your header image */
    background-size: cover;
    background-position: center;
}

/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.nav-links {
    list-style: none;
    display: flex;
    padding: 20px;
}

.nav-links li {
    margin-left: 50px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* Title Heroes Section */
.title{
    height: 800px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #000; 
}

.title .container p{
    margin: 0 150px; 
}

.title .container span {
    color: #e32658;
}
.title .container {
    color: #ffffff; 
}

.title .container .row-title-p{
    max-width: 60%;   
}

/* Stats Section */
.stats {
    background-color: #111;
    color: #fff;
}

.stat h2 {
    font-size: 2.5em;
    color: #e32658;
    font-weight: 700;
}

.stat p {
    font-size: 1em;
    font-weight: 500;
    color: #fff;
}
.counter {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

/* Services Section */
.our-services {
    padding: 250px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #ffffff;
}

.service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Left Column: Image */
.service-image {
    position: relative;
    width: 50%;
}

.service-image img {
    width: 100%;
    border-radius: 10px;
}

.cinematic-preview h4 {
    border-radius: 5px;
    background-color: rgba(217, 10, 44, 1);
    position: absolute;
    padding: 50px 60px;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin: auto;
    z-index: 1;
    bottom: 250px;
    left: 0px;
}

/* Right Column: Description */
.service-description {
    width: 50%;
}

.service-description h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.service-description h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: #e32658;
    margin-bottom: 15px;
}

.service-description p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.service-tags {
    display: flex;
    gap: 15px;
}

.service-tags span {
    background-color: #444;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
    color: #ffffff;
}

.box-videography{
    background-color: #151515;
    padding: 50px;
}

/* Works Section */
.works {
    color: #fff;
    padding: 250px 0; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.work-items {
    display: flex;
    justify-content: space-around;
}

.work-item {
    width: 200px;
    height: 200px;
}

.work-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Out Clients Section */
.our-clients {
    color: #fff;
    margin-left: 50px;
    border-top-left-radius: 30px; 
    padding: 250px 0;
}

.client-logos {
    background-color: #444;
    border-radius: 50px; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px; 
    justify-items: center;
    align-items: center;
}

.logo-item img {
    max-width: 120px; 
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.logo-item img:hover {
    opacity: 1;
}

/* Footer section */
.footer {
    padding: 30px;
    background-color: #1b1b1d;
    text-align: left;
}

.footer p {
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    color: #fff;
}

.footer-info div {
    width: 45%;
}

.footer-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #e32658;
}

.footer-info p {
    font-size: 1em;
    line-height: 1.6;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}

.row-footer{
    padding: 25px 0px;
    text-align: center;
}

/* Favicon Logo on Footer */
.icon-circle {
    display: inline-block;
    background-color: #e32658;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
    text-decoration: none;
}

.icon-circle i {
    font-size: 20px;
}

.icon-circle:hover {
    background-color: #A71F43;
}
